<header class="site-header" role="banner">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

      <div class="row w-100 d-block d-lg-none m-0">
        <div class="col">
          <span class="navbar-nav nav-item py-2 mt-0 ml-auto w-100 text-center navbar-text">
          {% if site.email %}
            <a href="mailto:{{ site.email | escape }}" class="nav-link p-0">{{ site.email | escape }}</a>
          {%- endif -%}

          {% comment %}
          {% if site.phone %}
            {{ site.phone | escape }}
          {% endif %}
          {% endcomment %}
          </span>
        </div>
      </div>

      <div class="row w-100 m-0">
        <div class="col-5 pl-0">
          <a class="navbar-brand m-0" rel="author" href="{{ "/" | relative_url }}">
            {% include noscript-image.html name="hotlink-ok/3ADV-LOGO.png" class="m-0" alt="3ADV Logo" %}
          </a>
        </div>

        <div class="col-7 d-lg-none d-flex justify-content-end pr-0">
          <button class="hamburger hamburger--spring navbar-toggler
            d-flex d-lg-none align-items-center"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
              <span class="navbar-text pl-1 text-logo">Menu</span>
          </button>
        </div>

        <div class="col-xs-12 col-lg-7 w-100 d-flex pr-0">
          <div class="flex-column align-items-start collapse navbar-collapse d-lg-flex justify-content-center"
            id="navbarSupportedContent">
            <span class="navbar-nav nav-item d-none d-lg-block navbar-text ml-auto mt-0">
              {% if site.email %}
                <a class="nav-link p-0" href="mailto:{{ site.email | escape }}">{{ site.email | escape }}</a>
              {%- endif -%}

              {% comment %}
              {% if site.phone %}
                {{ site.phone | escape }}
              {% endif %}
              {% endcomment %}
            </span>
            <ul class="navbar-nav ml-auto p-4 p-lg-0">
              <!-- Hardcoded home link as page has no url -->
              <li class="nav-item{% if page.layout == 'home' %} active{% endif %}">
                <a class="nav-link" href="{{ "/" | relative_url }}" title="Home page">Home
                  {% if item.url == "/" %}
                    <!-- For screen readers -->
                    <span class="sr-only">(current)</span>
                  {% endif %}
                </a>
              </li>

              {% assign links = site.data.navigation %}
                {% for link in links %}
                {% if link.sublinks %}
                  <li class="nav-item dropdown
                  {% if page.url contains link.url %} active{% endif %}">
                    <a class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                      {{ link.title }}
                      <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% for sublink in link.sublinks %}
                        {% if sublink.title == 'separator' %}
                          <div class="divider"></div>
                        {% else %}
                          <a class="dropdown-item"
                          href="{{ site.baseurl }}{{ sublink.url }}">
                            {{ sublink.title }}
                          </a>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </li>
                {% else %}
                  <li class="nav-item
                  {% if page.url contains link.url %} active{% endif %}">
                    <a class="nav-link" title="{{ link.title }}" href="{{ site.baseurl }}{{ link.url }}">
                      {{ link.title }}
                      {% if page.url contains link.url %}
                        <!-- For screen readers -->
                        <span class="sr-only">(current)</span>
                      {% endif %}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
