<div class="jumbotron{% if include.type %}{% if include.type == 'full' %} jumbotron-fluid{% endif %}{% endif %}{% if include.class %} {{ include.class }}{% endif %}"
style="background: {% if include.overlay %}{% if include.overlay == 'true' %}linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),{% endif %}{% endif %}
                    url('/images/{{ include.bg_image }}') no-repeat {{ include.bg_position }} / {{ include.bg_size }};
      color: {% if include.text_color %}{{ include.text_color }};{% else %}#ffffff;{% endif %}">
  <div class="d-flex flex-column
    {% if include.text_position %}
      {% if include.text_position == 'center' %} mx-auto
      {% elsif include.text_position == 'right' %} ml-auto
      {% endif %}
    {% endif %}
    col-lg-6
    {% unless include.type == 'full' %} px-4{% endunless %}
    {% if include.text_align %}
      {% if include.text_align == 'center' %} text-center{% endif %}
    {% endif %}" {% if include.type %}
                  {% if include.type == 'full' %}
                    style="background: rgba(0,0,0,0.5); padding: 4rem;"
                  {% endif %}
                {% endif %}>
    <h2 class="{% if include.type %}{% if include.type == 'full' %}m-0{% endif %}{% endif %}">{{ include.heading }}</h2>
    <p class="{% if include.type %}{% if include.type == 'full' %}lead m-0{% endif %}{% endif %}">
      {{ include.lead }}
    </p>
    <p class="lead">
      {% if include.button_label %}
        <a class="btn btn-cta btn-lg text-uppercase font-weight-bold"
        href="{% if include.button_link %}{{ include.button_link }}{% else %}#{% endif %}"
        role="button">
          {{ include.button_label }}
        </a>
      {% endif %}
    </p>
  </div>
</div>
