<div class="container mb-5">
  <div class="row services">
  {%- assign services = site.data.services -%}
  {% for service in services %}
    {% capture service_image %}{{ service.image }}{% endcapture %}
    {% capture service_alt %}{{ service.title }}{% endcapture %}
    {% capture service_class %}img-fluid img-cover services--grid-item-image{% endcapture %}

    <div class="col-lg services--grid-item mb-3 mb-lg-0{% if forloop.first %} pl-lg-0{% elsif forloop.last %} pr-lg-0{% endif %}">
      <a href="/services#{{ service.title | slugify }}">
        {% include image.html name=service_image alt=service_alt class=service_class %}
        <noscript>
          {% include noscript-image.html name=service_image alt=service_alt class=service_class %}
        </noscript>
        <h2 class="h6 mt-2 text-center">{{ service.title }}</h2>
      </a>
    </div>
  {% endfor %}
  </div>
</div>
