.jumbotron {
  &.jumbotron-fluid {
    padding: 12rem 0;

    @include media-breakpoint-only(lg) {
      padding: 6rem 0;
    }

    @include media-breakpoint-only(md) {
      padding: 4rem 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  .jumbotron--content-box {
    @include fadeIn();
  }

  .jumbotron--content-box {
    p > span.dot {
      font-size: 12px;
      position: relative;
      bottom: 3px;
    }
  }
}
