@import "vendor/bootstrap/bootstrap/functions";
@import "vendor/bootstrap/bootstrap/variables";
@import "vendor/bootstrap/bootstrap/mixins";

.site-header {
  @include media-breakpoint-down(md) {
    .navbar {
      padding: 0;
    }
  }

  #navbarSupportedContent > span > a.email {
    color: rgba(0,0,0,0.7);
  }

  li.nav-item {
    text-transform: uppercase;

    &.active {
      font-weight: 700;
    }

    .dropdown-menu {
      left: -100px;
    }

    &:last-child > .nav-link {
      padding-right: 0;
    }
  }
}
