.services--grid-item {
  &.lazyloaded {
    @include fadeIn();
  }
  .services--grid-item-image {
    height: 180px;
    object-position: left;
  }
}

.services--row-item {
  &.come-in-view.come-in-up {
    @include fadeIn(
      $delay: 0.5s
    );
  }

  .services--row-item-image {
    height: 300px;
  }
}
