.services--grid-item {
  &.lazyloaded {
    @include fadeIn();
  }
  .services--grid-item-image {
    height: 180px;
    object-position: left;
  }
}

.services--row-item {
  .services--row-item-image {
    height: 300px;
  }
}

.services--row-item.lazyloaded {
  @include fadeIn();
}
