//Custom SCSS variables
$color-brand-primary: #173645;

//Bootstrap variable overrides
/*===== COLOURS =====*/
$body-color: #0c0c0c;
$theme-colors: (
  "primary": $color-brand-primary,
  "light": #ffffff,
  "dark": $color-brand-primary,
  "cta": #d62b1b
);

/*===== TYPOGRAPHY =====*/
$font-family-sans-serif: "Montserrat", -apple-system, BlinkMacSystemFont,
                         "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
                         "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-weight-normal: 500;
$headings-font-weight: 700;

/*===== BORDERS =====*/
$border-radius: .75rem;
$border-radius-lg: .9rem;
$border-radius-sm: .6rem;
