//Custom SCSS variables
$color-brand-primary: #14303D; //grey
$color-brand-logo: #2C7D99; //blue

/*===== VENDOR =====*/
//Hamburgers variable overrides
$hamburger-layer-color: $color-brand-logo;
$hamburger-layer-height: 2px;
$hamburger-layer-border-radius: 0;


//Bootstrap variable overrides
/*===== COLOURS =====*/
$body-color: #0c0c0c;
$theme-colors: (
  "primary": $color-brand-primary,
  "light": #ffffff,
  "dark": $color-brand-primary,
  "cta": #d62b1b,
  "logo": $color-brand-logo
);

$link-color: theme-color("logo");

/*===== TYPOGRAPHY =====*/
$font-family-sans-serif: "Montserrat", -apple-system, BlinkMacSystemFont,
                         "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
                         "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-weight: 700;

/*===== BORDERS =====*/
$border-radius: .4rem;
$border-radius-lg: .5rem;
$border-radius-sm: .3rem;

/*===== NAVBAR =====*/
$navbar-padding-y: .75rem;
$nav-link-padding-x: 1.75rem;
$navbar-nav-link-padding-x: $nav-link-padding-x;
$navbar-light-toggler-border-color: transparent;
$navbar-light-active-color: $color-brand-logo;
